body {
    padding: 40px;
}

#content {
    margin-top: 28px;
}

#people-selector {
    float: right;
    margin-right: 30px;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

#person-fields {
    list-style: none;
    margin: 0;
}

#person-name {
    display: inline;
}

#person-action {
    float: right;
}

#person-info {
    margin-top: 18px;
}

#person-info textarea {
    min-height: 300px;
    border: none;
    box-shadow: none;
    padding: 12px;
}
