body {
    padding: 40px;
}

#content {
    margin-top: 48px;
}

#people-selector {
    float: right;
    margin-right: 30px;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

#person-fields {
    list-style: none;
    margin: 0;
}

#person-name {
    display: inline;
}

#person-action {
    float: right;
}

#person-info {
    margin-top: 18px;
}

textarea:focus {
    box-shadow: 0px 0px 5px #ccc;
    border: 1px solid #999;
}

textarea {
    box-shadow: none;
    padding: 12px;
    width: 100%;
    margin-top: 18px;
}

textarea.content {
    min-height: 300px;
}

.person-content {
    margin-top: 18px;
}

#entries, #feedback-field-list, #check-in-list,
ul.check-ins, ul.feedback,
#feedback,
#things-to-address ul {
    list-style: none;
    margin: 0;
}

#things-to-address ul li {
    margin: 6px 0;
}

.journal-entry {
    margin: 12px 0;
}

.journal-entry .date,
#feedback .date {
    font-weight: bold;
    float: right;
    font-style: italic;
}

.feedback-field select {
  margin-top: 12px;
}

ul.feedback {
    margin: 0;
    list-style: none;
}

.feedback-divider {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #ccc;
    margin: 18px 0;
    width: 100%;
}

#people-table {
    width: 100%;
    margin-bottom: 18px;
}

h1 a {
    color: #333;
}

h1 a:hover {
    color: #333;
}

.feedback-field.template, .check-in.template {
    display: none;
}

#wysihtml5-textarea {
    min-height: 300px;
}

#person-nav {
    margin-bottom: 28px;
}

.checkin-date {
    font-weight: bold;
    font-style: italic;
    color: #313131;
}

.icon {
    margin-right: 6px;
}

.journal-entry, #feedback li {
    background: none repeat scroll 0 0 white;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 12px 0;
    padding: 12px;
}

ul.entry-additional {
    margin-top: 12px;
}

.dropdown-toggle {
    color: #333;
    text-shadow: 0px 1px 0px #eee;
}

.thing-to-address {
    margin-right: 12px;
}

#entry-save-btn {
    margin-top: 24px;
}

#saved-msg {
    color: green;
    float: right;
    font-size: 24px;
    font-weight: bold;
    display: none;
}
