{% extends "base.jinja" %}

{% block content %}
<h2>Add an Entry for {{person.first_name}} </h2>

{% include "modules/things_to_address.jinja" with person=person %}

<h4> What you talked about: </h4>
<form method=POST id="entry-form">{% csrf_token %}
    {% include "modules/rtf_textarea.jinja" with name="content" %}
    
    <div>
        <h4>Feedback that {{person.first_name}} gave:</h4>
        <ul id="feedback-field-list"></ul>
    </div>
    
    <a href="#" id="add-feedback">Add feedback</a>

    <div>
        <h4>Things to check in on:</h4>
        <ul id="check-in-list"></ul>
    </div>

    <div>
        <a href="#" id="add-check-in">Add check-in</a>
    </div>
    <input type="hidden" value="" id="feedback-field" name="feedback" />
    <input type="hidden" value="" id="check-in-field" name="check_ins" />
    <input class="btn" type="submit" value="Save" id="entry-save-btn" />
</form>

<li class="feedback-field template">
    <textarea class="feedback-content" /></textarea>
    for
    <select class="feedback-recipient">
        {% for recipient in people %}
            {% if recipient.id != person.id %}
              <option value="{{recipient.id}}">{{recipient.full_name}}</option>
            {% endif %}
        {% endfor %}
    </select>
</li>

<li class="check-in template">
    <textarea class="check-in-content" /></textarea>
    in
    <select class="check-in-weeks">
        {% for week in weeks %}
            <option value="{{week}}">{{week}}</option>
        {% endfor %}
    </select>
    weeks
</li>

<script type="text/javascript">
    $(function(){
        var editor = new wysihtml5.Editor("wysihtml5-textarea", {
            toolbar:      "wysihtml5-toolbar",
            stylesheets:  "/static/css/wysihtml5.css",
            parserRules:  wysihtml5ParserRules
        });

        $("#add-feedback").click(function() {
            var li = $(".feedback-field.template").clone();
            li.removeClass('template');
            $("#feedback-field-list").append(li);
            return false;
        });

        $("#add-check-in").click(function() {
            var li = $(".check-in.template").clone();
            li.removeClass('template');
            $("#check-in-list").append(li);
            return false;
        });

        $('#entry-form').submit(function(){
          var fields = [];
          $('.feedback-field').not('.template').each(function(){
              var content = $(this).find(".feedback-content").val();
              var recipient = $(this).find(".feedback-recipient").val();
                
              if(content != "") {
                  fields.push({
                      content: content,
                      recipient: recipient
                  });
              }
          });

          var check_ins = [];
          $('.check-in').not('.template').each(function(){
              var content = $(this).find(".check-in-content").val();
              var weeks = $(this).find(".check-in-weeks").val();
                
              if(content != "") {
                  check_ins.push({
                      content: content,
                      weeks: weeks
                  });
              }
          });
          $("#feedback-field").val(JSON.stringify(fields));
          $("#check-in-field").val(JSON.stringify(check_ins));
        });
    });
</script>

{% endblock %}


