<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/read.bootstrap.css" />
    <link rel="stylesheet" href="/static/css/wysihtml5.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/autogrow.js"></script>
    <script type="text/javascript" src="/static/js/advanced.js"></script>
    <script type="text/javascript" src="/static/js/wysihtml5.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <title>{% block title %}Personnel{% endblock %}</title>
</head>

    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div id="people-selector" class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        People
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for person in people %}
                            <li><a tabindex="-1" href="/people/{{person.nickname}}">{{person.full_name}}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a tabindex="-1" href="/people">Manage...</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="content" class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
