{% extends "base.jinja" %}

{% block content %}
{%csrf_token %}
    {% include "modules/person_nav.jinja" with person=person active="feedback" %}

    <ul id="feedback">
        {% for entry in feedback %}
            <li>
                <div class="date">{{entry.created|date:"M d, Y"}}</div>
                <span><a href="{{entry.originator.get_url}}">{{entry.originator.nickname}}</a>:&nbsp;</span>&quot;{{entry.content}}&quot;
            </li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}

