{% extends "base.jinja" %}

{% block content %}
<h1 id="person-name">{{person.full_name}}</h1>

{%csrf_token %}
    <ul id="person-action" class="nav nav-pills">
      <li>
        <a href="/people/{{person.nickname}}">Overview</a>
      </li>
      <li class="active"><a href="/people/{{person.nickname}}/journal">Journal</a></li>
      <li><a href="/people/{{person.nickname}}/feedback">Feedback</a></li>
    </ul>

    <div class="person-content" id="journal">
        <a href="/people/{{person.nickname}}/journal/add">Add new entry</a>
    </div>

    <ul id="entries">
        {% for entry in entries %}
            <li class="journal-entry">
                <div class="date">{{entry.created|date:"M d, Y"}}</div>
                <div class="content">{{entry.content}}</div>
            </li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}
