{% extends "base.jinja" %}

{% block content %}
{%csrf_token %}
    {% include "modules/person_nav.jinja" with person=person active="journal" %}

    <div class="person-content" id="journal">
        <a class="btn" href="/people/{{person.nickname}}/journal/add">Add new entry</a>
    </div>

    <ul id="entries">
        {% for entry in entries %}
            <li class="journal-entry">
                <div class="date">{{entry.created|date:"M d, Y"}}</div>
                <div class="entry-content">{{entry.content|safe}}</div>

                {% if entry.feedback %}
                    <ul class="feedback entry-additional">
                      {% for f in entry.feedback %}
                          <li>
                            <img class='icon' src="/static/img/at.png" />
                            <a href="/people/{{f.recipient.nickname}}">{{f.recipient.nickname}}</a>:
                            &quot;{{f.content}}&quot; 
                          </li>
                      {% endfor %}
                    </ul>
                {% endif %}

                {% if entry.check_ins %}
                    <ul class="check-ins entry-additional">
                      {% for c in entry.check_ins %}
                          <li>
                            <img class='icon' src="/static/img/clock.png" />
                            <span class="checkin-content">{{c.content}}</span> on 
                            <span class="checkin-date">{{c.check_in_on|date:"M d, Y"}}</span> 
                          </li>
                      {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</ul>
{% endblock %}
