{% extends "base.jinja" %}

{% block content %}
{%csrf_token %}
    {% include "modules/person_nav.jinja" with person=person active="journal" %}

    <div class="person-content" id="journal">
        <a href="/people/{{person.nickname}}/journal/add">Add new entry</a>
    </div>

    <ul id="entries">
        {% for entry in entries %}
            <li class="journal-entry">
                <div class="date">{{entry.created|date:"M d, Y"}}</div>
                <div class="content">{{entry.content}}</div>
            </li>

            <div class="feedback-divider"></div>

            <ul class="feedback">
              {% for f in entry.feedback %}
                  <li>&quot;{{f.content}}&quot; for <a href="/people/{{f.recipient.nickname}}">{{f.recipient.full_name}}</a></li>
              {% endfor %}
            </ul>

            <ul class="check-ins">
              {% for c in entry.check_ins %}
                  <li>Check in about: {{c.content}} on {{c.check_in_on|date:"M d, Y"}}</li>
              {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</ul>
{% endblock %}
