{% extends "base.jinja" %}

{% block content %}
<h1 id="person-name">{{person.full_name}}</h1>

{%csrf_token %}
    <ul id="person-action" class="nav nav-pills">
      <li class="active">
        <a href="/people/{{person.nickname}}">Overview</a>
      </li>
      <li><a href="/people/{{person.nickname}}/journal">Journal</a></li>
      <li><a href="/people/{{person.nickname}}/feedback">Feedback</a></li>
    </ul>

    <div class="person-content" id="person-info" data-name="{{person.nickname}}">
        {% if person.info %}
            {{person.info}}
        {% else %}
            <em>Nothing yet...</em>
        {% endif %}
    </div>
</ul>

<script type="text/javascript">
  function trim (str) {
      return str.replace(/^\s\s*/, '').replace(/\s\s*$/, '');
  }

  $(function(){
      var info = $("#person-info");
      var name = info.data('name');
      var info_txt = trim(info.html());

      info.editable(function(value, settings) {
          var value = trim(value);
          var csrf = $("[name=csrfmiddlewaretoken]").val();
          
          var params = {
              csrfmiddlewaretoken: csrf,
              info: value
          };

          $.post("/people/" + name + "/update_info", params);
          return value;
      }, {
          type: 'textarea',
          onblur: 'ignore',
          submit: 'Done',
          data: info_txt
      });
  });
</script>

{% endblock %}
