{% extends "base.jinja" %}

{% block content %}

    {% include "modules/person_nav.jinja" with person=person active="overview" %}

    {% csrf_token %}
    <div class="person-content" id="person-info">
        {% include "modules/rtf_textarea.jinja" with value=person.info %}
        <a href='#' class="btn" id="save-btn" data-name="{{person.nickname}}">Save</a>
    </div>

    {% include "modules/things_to_address.jinja" with person=person %}
</ul>

<script type="text/javascript">
  $(function(){
      var editor = new wysihtml5.Editor("wysihtml5-textarea", {
        toolbar:      "wysihtml5-toolbar",
        stylesheets:  "/static/css/wysihtml5.css",
        parserRules:  wysihtml5ParserRules
    });

    $("#save-btn").click(function(e){

        var csrf = $("[name=csrfmiddlewaretoken]").val();
        var val = $("#wysihtml5-textarea").val();

        var params = {
            csrfmiddlewaretoken: csrf,
            info: val
        };

        var name = $(this).attr('data-name');
        $.post("/people/" + name + "/update_info", params);
    });
  });
</script>

{% endblock %}
