  <li>
    <img class='icon' src="/static/img/clock.png" />
    <span class="checkin-content">{{checkin.content}}</span> on 
    <span class="checkin-date">{{checkin.check_in_on|date:"M d, Y"}}</span> 
  </li>
